/* CSS Document */ 
body
{
    /*background-color: antiquewhite;*/
    margin: auto;
}

.Class1
{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 5px;
    color: indigo;
    /*background-color:rgb(255, 232, 181);*/
    width: 800px;
    line-height: 0x;
    text-align: center;
    border: 1px solid indigo;  
}
/*.Class2
{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 0px;
    color:darkviolet;
    background-color: rgb(0, 0, 0);
    width: 800px;
    line-height: inherit;
    text-align:left;
    text-indent: 300px;
    background-image: url("images/image1.jpg");
    background-size: 400px;
    border: 1px solid rgb(0, 0, 0); 
    background-repeat: no-repeat;
    height: 160px;*/


.Class2
{
    width: 800px;
border: 1px solid indigo;
background-color: rgb(255, 255, 255);
margin: auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
text-align: left;
font-size: medium;
}

.Class3
{
font-size: medium;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: auto;
padding-left: 20px;
padding-top: 20px;
color: rgb(0, 0, 0);
/*background-color: cyan;*/
border: 1px solid indigo;
width: 780px;
text-align: left;
}

.Class4
{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 5px;
    color: white;
    background-color: rgb(0, 72, 85);
    width: 800px;
    line-height: 30px;
    text-align: justify;
    text-indent: 0px;
}

.Class5
{
    width: 780px;
    font-size: medium;
border: 1px solid indigo;
background-color: rgb(255, 255, 255);
margin: auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: black;
text-align: left;
padding-left: 20px;
padding-top: 20px;

}

/*.container
{
    margin: auto;
    padding: 0px;
    /*background-color: hotpink;
    width: 800px;
    height: auto;*/
}

#One
{
    margin: auto;
    font-size: large;
    font-style:italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 15, 102);
    /*background-color: rgb(42, 136, 165);
    /*border: 1px solid rgb(0, 84, 95); 
    /*width: 150px;*/
    float:left;
}

#Two
{
    margin: auto;
    font-size: large;
    font-style: italic;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(59, 41, 0);
    /*background-color: rgb(42, 136, 165);
    /*border: 1px solid rgb(0, 84, 95); 
    width: 150px;*/
    float:left;
}

#Three
{
        margin: auto;
        font-size: large;
        font-style: italic;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(40, 126, 184);
        background-color: rgb(247, 247, 247);
        /*width: 200px;*/
        float:left;
}

#Four
{
        margin: auto;
        font-size: large;
        font-style: italic;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(160, 5, 0);
        background-color: rgb(247, 247, 247);
        /*width: 150px;*/
        float:left;
}   
img
{
        padding-right: 10px;
        background-color: white;
}

#Cert
{
    color: rgb(0, 238, 255);
}

a:link
{
        font-style: italic;
font-style: normal;
text-decoration: indigo;
}
        a:hover
        {
            color: indigo;
            text-decoration: underline;
        }
        a:visited
        {
            color: inherit;
        }
        a:active
        {
            color:yellow;
        }